# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python

# Virtual env
env/
venv/
ENV/
.venv/
.env
*.env

# Streamlit cache
.streamlit/
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Docker
*.pid
*.tar
docker-compose.override.yml

# Database (if local)
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

